div.footer {
	position: fixed;
	bottom: 5px;
	
}

body{
	background-image: url("images/background.jpg");
	background-size: cover;
}
a {
	text-decoration: none;
	color: teal;
	font-style: oblique;
	font-size: x-large;
}

#nav{
	width: 120px;
}
