form {
	color: white;
}

input {
	background-color: black;
	border: none;
	border-bottom: 1pt solid white;
	color: white;
	margin-left: 10px;
}

input[type="submit"] {
	border-radius: 20%;
	box-shadow: aqua;
	border: 2pt outset white;
	color: white;
}
div.footer1{
		color: white;
	position: absolute;
	bottom: 0;
	left: 10px;
}

body {
	background-image: url("images/background.jpg");
	background-size: 100%;
}

h1 {
	color: wheat;
	font-style: oblique;
	box-shadow: fuchsia;
}

footer {
	color: white;
	position: absolute;
	bottom: 0;
	left: 10px;
}

div.catalog{
	color:white;
	font-style: normal;
	overflow: scroll;
	
}
td {
	padding-left: 18px;
	position: relative;
	color: white;
}
	
a:HOVER {
	background-color: maroon;
}	
