div.footer {
	position: fixed;
	bottom: 5px;
	
}

body{
	background-image: url("images/background.jpg");
	background-size: cover;
}
a {
	text-decoration: none;
	color: black;
	text-shadow:black;
	font-style: oblique;
	font-size: large;
	width: 50px;
}

#nav{
	width: 50px;
	opacity: 50%;
	font-size: large;
	
}
